/* LOGO */
.logo {
  border: none;
  margin: 10px;
  border-radius: 50px;
  overflow: hidden;
}

.logo img {
  width: 100%;
}

.logo-header {
  width: 200px;
  /* height: 400px; */
  display: flex;
  border: none;
  align-items: center;
}

.logo-header p {
  margin: 0;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 1.5em;
  font-weight: bolder;
  color: lime;
}

.slogan h2 {
  margin-left: 10px;
  color: var(--true-false-background);
  font-size: 20px;
  font-weight: bold;
  width: 50px;
}
