/* ANSWER BUTTONS */

.answer-buttons {
  z-index: 10;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.button {
  display: flex;
  flex: 1;
  font-size: 3em;
  font-weight: bold;
  color: white;
  justify-content: center;
  margin: 20px 0 0 0;
  min-width: 200px;
  /* text-align: center; */
  padding: 20px;
  border-width: 0px;
}

.button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.button.true {
  background: rgb(64, 211, 248);
  margin: 30px 50px 0 0;
  border-radius: 40px 10px 10px 40px;
  box-shadow: -5px 10px 5px 2px rgb(18 27 25);
}

.button.false {
  background: rgb(21, 236, 118);
  margin: 30px 0 0 50px;
  border-radius: 10px 40px 40px 10px;
  box-shadow: 5px 10px 5px 2px rgb(18 27 25);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
