* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --true-false-color: lightgreen;
  --true-false-background: #e6ecf0;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* APP */

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.app .container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

/* TRANSITION GROUP */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  /* background: var(--true-false-background); */
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

/* LOGO */
.logo {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  border: 1px solid red;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.logo img {
  width: 100%;
}

.logo-header {
  width: 300px;
  display: flex;
  background: #cc20cc;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.logo-header p {
  margin: 0;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 1.5em;
  font-weight: bolder;
  color: lime;
}

.slogan h2 {
  margin-left: 10px;
  color: var(--true-false-background);
  font-size: 20px;
  font-weight: bold;
  width: 50px;
}

/* SLOGAN */

.slogan {
  display: flex;
  align-items: center;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.menu a {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: ghostwhite;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: blue;
}

.menu a:hover {
  background: blue;
  color: white;
}

/* HOME */

.home {
  display: flex;
  background: blue;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.home .welcome {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  color: white;
  height: 100%;
  justify-content: center;
}

.welcome div {
  font-size: 2em;
}

.home a.start-quiz {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 30px;
  margin: 20px 0 0 0;
  padding: 20px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.glow-button {
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  -webkit-animation-name: changecolour; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: changecolour;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.home a.start-quiz:hover {
  background: white;
  color: blue;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes changecolour {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

/* Standard syntax */
@keyframes changecolour {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

/* QUIZ */

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px 0;
  flex: 1;
  height: 100%;
}

/* QUESTION CARD */

.question-card {
  border: 1px solid white;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background: white;
  font-weight: bolder;
}

.question-card .header {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--true-false-background);
  width: 100%;
  max-height: 50px;
}

.question-card .number {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-card .category {
  padding: 20px 0;
  display: flex;
  flex: 1;
  justify-content: start;
}

.question-card .text {
  padding-top: 20px;
  font-size: 2em;
}

/* ANSWER BUTTONS */

.answer-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.answer-buttons button {
  display: flex;
  flex: 1;
  justify-content: center;
  /* text-align: center; */
  padding: 20px;
}

/* RESULTS */

.results {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  color: white;
  height: 100%;
  justify-content: center;
}

.results .result-text,
.results .score-text,
.results .score {
  font-size: 2em;
}

/* RESULT */

.result-symbol.container {
  position: absolute;
  pointer-events: none;
}

svg.result-symbol {
  width: 300px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p.result {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}

p.result.success {
  color: #73af55;
}

p.result.error {
  color: #d06079;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* NOT-FOUND */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-container h1 {
  color: white;
}
