/* ANIMATED TYPING */

.animated-typing {
  width: 100%;
  height: auto;
  background: cyan;
  display: flex;
}

.typing {
  font-size: 1.5em;
  color: black;
  display: flex;
  width: 100%;
  height: 100px;
  background: lime;
}
